<!DOCTYPE html>
<html>
<head>
    <title>Cake Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1 class="title">🍰 Sweet Cake Shop</h1>

<div class="cake-container">
    {% for cake in cakes %}
    <div class="cake-card">
        <img src="{{ url_for('static', filename='images/' + cake.image) }}">
        <h2>{{ cake.name }}</h2>
        <p>{{ cake.description }}</p>
        <h3>₹{{ cake.price }}</h3>
        <a href="{{ url_for('order', cake_id=cake.id) }}" class="btn">Order Now</a>
    </div>
    {% endfor %}
</div>

</body>
</html>

